/* /components/events.css */
.completed-events,
.upcoming-events {
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 25px 25px 70px 25px;
    margin: 20px auto;
    position: relative;
    max-width: 1200px;
}
.completed-events h2,
.upcoming-events h2 {
    color: #333;
}
.error-message {
    color: #dc3545;
    margin-bottom: 10px;
}
.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.event-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 15px 50px 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}
.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.event-card img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.event-card h3 {
    color: #333;
    margin: 5px 0 15px 5px;
}
.event-card p {
    margin: 5px 0 5px 7px;
    color: #333;
}
.event-card button {
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 20px;
    transition: background-color 0.3s ease;
}
.event-card button:hover{
    background-color: #333;
}
@media (max-width: 600px) {
    .event-grid {
        grid-template-columns: 1fr;
    }
}
