.results-container {
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
}
.results-container h2 {
    color: #333;
    margin-bottom: 20px;
}
.error-message {
    color: #dc3545;
    margin-bottom: 10px;
}
.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.result-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}
.result-card:hover {
    transform: translateY(-3px);
}
.result-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.result-card h3 {
    margin-top: 0;
    color: #333;
}
.result-card p {
    margin: 7px 0px;
    color: black;
}
.result-card button,
.event-card button,
.result-popup button {
    background-color: black;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 7px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.result-card button:hover,
.event-card button:hover,
.result-popup button:hover {
    background-color: #555;
}
.not-published {
    color: #dc3545;
    font-style: italic;
}
.result-popup {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.result-popup-content img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}
.result-popup-content h2 {
    color: #333;
    margin-bottom: 10px;
}
.result-popup-content p {
    margin: 5px 0;
}
.result-popup-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
.result-popup-content th, .result-popup-content td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.result-popup-content th {
    background-color: #f2f2f2;
}
.podium {
    text-align: center;
    margin-top: 20px;
}
.podium img {
    max-width: 200px;
}
.podium-names {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
@media (max-width: 768px) {
    .results-grid {
        grid-template-columns: 1fr;
    }
}